<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog::Zaloguj</title>
</head>
<body>
<div class="container">
    <h1>Aplikacja Blogowa Spring Boot</h1>
    <hr/>
    <a th:href="@{/}">Strona główna</a>
    <h2>Zaloguj</h2>
    <form action="#"
          th:action="@{/login}"
          method="POST">
        <div>
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="Email"/>
        </div>
        <div>
            <label for="password">Hasło</label>
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
        <button type="submit">Zaloguj</button>
    </form>
</div>
</body>
</html>